azure-common==1.1.26
azure-core==1.9.0
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.6
azure-nspkg==3.0.2
azure-storage-blob==12.6.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.3.1
fastapi==0.63.0
h11==0.12.0
httptools==0.1.1
idna==2.10
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
msrest==0.6.19
numpy==1.19.4
oauthlib==3.1.0
pandas==1.1.5
pycparser==2.20
pydantic==1.7.3
pyodbc==4.0.30
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
PyYAML==5.3.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
urllib3==1.26.2
uvicorn==0.13.3
uvloop
watchgod==0.6
websockets==8.1
Werkzeug==1.0.1
